@(Campaigns: List[Campaign], seller: Seller)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

       <header class="topbar">
            <div class="row">
            <h1 class="fill">
                <a href="@routes.Application.index()">Campaign database</a>   
                <span style="float:right;">Seller:  @seller.name @seller.surname FUND: <strong><span id="sellerfund">@seller.fund</span> &euro;</strong></span>
            </h1>
            </div>
        </header>
      
    @if(flash.containsKey("success")) {
        <div class="alert-message info">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        <a class="btn success" id="add" href="@routes.Application.create()">Add a new campaign</a>
    </div>
    
    <div class="input sortfind">
        <strong>Filter campaign name </strong>
        <input type="text" name="filter" id="inputfilter"/>
        <a href="#" class="btn" id="filter">Filter</a>
            
        <span style="margin-left:50px;">
            <strong>Sort by </strong>
            <select name="sortBy" id="sortBy">
                <option value="id">ID</option>
                <option value="name">Campaign name</option>
                <option value="keywords">Keywords</option>
                <option value="bidAmount">Bid amount</option>
                <option value="campaignFund">Campaign fund</option>
                <option value="status">Status</option>
                <option value="town">Town</option>
                <option value="radius">Radius</option>
            </select>   
            <select name="order" id="order">
                <option value="asc">ascending</option>
                <option value="desc">descending</option>
            </select>   
            <a href="#" class="btn" id="sort">Sort</a> 
        </span>
    </div>
    
    @if(Campaigns.size == 0) {
        <div class="well">
            <em><strong>Nothing to display!</strong></em>
        </div>
    } else {
        <div class="table-responsive">
        <table class="campaigns zebra-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Campaign name</td>
                    <td>Keywords</td>
                    <td>Bid amount [&euro;]</td>
                    <td>Campaign fund [&euro;]</td>
                    <td>Status</td>
                    <td>Town</td>
                    <td>Radius [km]</td>
                    <td>Edit/Delete</td>
                </tr>
            </thead>
            <tbody>
                @for(campaign <- Campaigns) {
                    <tr>
                        <td>
                            @campaign.id
                        </td>
                        <td>
                            @campaign.name
                        </td>
                        <td>
                            @campaign.keywords
                        </td>
                        <td>
                            @campaign.bidAmount
                        </td>
                        <td>
                            @campaign.campaignFund
                        </td>
                        <td>
                            @campaign.status
                        </td>
                        <td>
                            @if(campaign.town == null) {
                                <em>-</em>
                            } else {
                                @campaign.town.name
                            }
                        </td>
                        <td>
                            @campaign.radius
                        </td>
                        <td>
                            <a class="btn info" href="@routes.Application.edit(campaign.id)">Edit</a>
                            <a class="btn danger" href="@routes.Application.delete(campaign.id)">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
      </div>
      
      <h3 id="homeTitle">@Messages("campaign.list.title", Campaigns.size)</h3>
    }
}