@(id: Long, campaignForm: Form[Campaign], seller: Seller)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

    <script type="text/javascript">
        $(document).ready(function () {
            var sellerFund = parseInt($('#sellerfund').text());
            var currentCampaignFund = parseInt($('#campaignFund').val());
            
            $('#campaignFund').keyup(function () {
                var newCampaignFund = $(this).val() == "" ? 0 : $(this).val();
                if ($.isNumeric(newCampaignFund) && parseInt(newCampaignFund) >= 0) {
                    var newSellerFund = sellerFund + currentCampaignFund - parseInt(newCampaignFund);
                    $('#sellerfund').text(newSellerFund);
                }    
            });    
        });
    </script>
    
    <header class="topbar">
            <div class="row">
            <h1 class="fill">
                <a href="@routes.Application.index()">Campaign database</a>   
                <span style="float:right;">Seller:  @seller.name @seller.surname FUND: <strong><span id="sellerfund">@seller.fund</span> &euro;</strong></span>
            </h1>
            </div>
    </header>
    
    <h2>Edit campaign</h2>
    
    @form(routes.Application.update(id)) {
        <fieldset>
            @inputText(campaignForm("name"), '_label -> "Campaign name", '_showConstraints -> false)
            @inputText(campaignForm("bidAmount"), '_label -> "Bid amount (min 500)", '_showConstraints -> false)
            @inputText(campaignForm("campaignFund"), '_label -> "Campaign fund", '_showConstraints -> false)
           
            @select(
                campaignForm("status"), 
                options("on" -> "on", "off" -> "off"), 
                '_label -> "Status",
                '_showConstraints -> false
            )
           
            @select(
                campaignForm("town.id"), 
                options(Town.options), 
                '_label -> "Town", '_default -> "-- Choose a town --",
                '_showConstraints -> false
            )
            
            @inputText(campaignForm("radius"), '_label -> "Radius [km]", '_help -> "")
            @inputText(campaignForm("keywords"), '_label -> "Keywords", '_showConstraints -> false)
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this campaign" class="btn success">
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
    }
}
