html {
    background: #ccc;
}
 
header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.campaigns thead {
    background-color: #fefc9b;
    font-weight: bold;
}

#actions {
    position: relative;
}

#actions #add {
    margin-top: 15px;
    margin-bottom: 20px;
}

.typeahead,
.tt-query,
.tt-hint {
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid rgba(82, 168, 236, 0.8);
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #38f
}

.tt-menu {
  width: 99%;
  margin: 5px 0;
  padding: 3px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 16px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(82, 168, 236, 0.8);
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: rgba(82, 168, 236, 0.8);
}

.tt-suggestion p {
  margin: 0;
}

.sortfind {
    margin-bottom: 15px;
}