@font-face {
  font-family: 'fontello';
  src: url('/resources/font/fontello.eot?72781849');
  src: url('/resources/font/fontello.eot?72781849#iefix') format('embedded-opentype'),
       url('/resources/font/fontello.woff2?72781849') format('woff2'),
       url('/resources/font/fontello.woff?72781849') format('woff'),
       url('/resources/font/fontello.ttf?72781849') format('truetype'),
       url('/resources/font/fontello.svg?72781849#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/resources/font/fontello.svg?72781849#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
 
.icon-user-plus:before { content: '\e800';font-size: 40px; margin-top: 0px; } /* '' */
.icon-user-times:before { content: '\e801'; } /* '' */
.icon-male:before { content: '\e802'; } /* '' */
.icon-female:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; font-size: 60px; margin-top: 10px;} /* '' */
.icon-graduation-cap:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; font-size: 40px; margin-top: 0px;} /* '' */
.icon-logout:before { content: '\e80a'; font-size: 20px; } /* '' */