
.icon-user-plus:before { content: '\e800'; } /* '' */
.icon-user-times:before { content: '\e801'; } /* '' */
.icon-male:before { content: '\e802'; } /* '' */
.icon-female:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-graduation-cap:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */