body {

    background-image: url("/resources/img/ps_neutral.png");
    font-size: 20px;
    margin-top: 0px;
    color: #eeeeee;
}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#header {
    margin-top: 10px;
    width: 1200px;
    height: 80px;
    background-color: #eeeeff;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
}

#loginregistration {
    width: 1202px;
    height: 80px;
}

#footer {
    width: 1200px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eeeeff;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #666666;
    text-align: center;
    padding-top: 10px;
}

#logo {
    float: left;
    width: 150px;
    height: 80px;
    text-align: center;
    background-color: #ff1810;
    border: none;
    border-radius: 8px 0px 0px 8px;
}

#title {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #666666;
    width: 650px;
    text-align: center;
    padding-top: 10px;
}

#user {
    float: right;
    width: 400px;
    height: 80px;
    text-align: center;
    background-color: #37b93d;
    border: none;
    border-radius: 0px 8px 8px 0px;
}

#userphoto {
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
}

#userimage {
    float: left;
    width: 170px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

#userinfo {
    float: left;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#content {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px;
    color: #434241;
    width: 1160px;
    height: auto;
    min-height: 330px;
    text-align: justify;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    background-color: #f6f5f4;

}

#login {
    background-image: url("/resources/img/type.png");
    width: 300px;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

#loginwide {
    background-image: url("/resources/img/type.png");
    width: 450px;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

.error {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ff7b74;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option {

    float: left;
    color: #707070;
    font-size: 20px;
    font-family: Arial;
    padding: 10px;
    margin-top: 5px;
    text-align: left;
}

.has-error{
    border: 2px solid #dd2e2f;
}

.has-success{
    border: 2px solid #28dd38;
}

.input-default{
    border: 2px solid #ddd;
}

input[type=text],
input[type=password] {
    width: 300px;
    background-color: #efefef;
    color: #666;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #9bbfcd;
    background-color: #e9f3e9;
    color: #5b798c;
}

input[type=submit] {
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:focus {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
}

input[type=submit]:hover {
    background-color: #37b93d;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder {
    color: #428C42;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}

input:focus:-moz-placeholder {
    color: #428C42;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}

input:focus::-moz-placeholder {
    color: #428C42;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}

input:focus:-ms-input-placeholder {
    color: #428C42;
}

a.tilelink {
    color: #eeeeee;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 595px;
    height: 60px;
}

a.homelink {
    color: #eeeeee;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 130px;
    height: 70px;
}

a.logout {
    color: #eeeeee;
    text-decoration: none;
    text-align: left;
}

a.profile {
    text-decoration: none;
    text-align: left;
}

.yt {
    width: 595px;
    height: 60px;
    background-color: #37b93d;
    float: left;
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 15px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    margin-top: 10px;
}

.yt:hover {
    background-color: #15971b;
}

.yt2 {
    width: 595px;
    height: 60px;
    background-color: #1e90ff;
    float: right;
    text-align: center;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 15px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-top: 10px;
}

.yt2:hover {
    background-color: #0c7edd;
}

.button {
    width: 100px;
    height: 25px;
    background-color: #1e90ff;
    float: right;
    text-align: center;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin-top: 10px;
    margin-left: 10px;
}

.button:hover {
    background-color: #0c7edd;
}

a.buttonlink {
    color: #eeeeee;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
    height: 25px;
}

.ptitle {

    color: #000;
    font-size: 20px;
    font-family: Arial;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: left;
}

table.properties {
    width: auto;
    min-width: 100px;
}

tr {
    background: #fff;
}


th, td {
    text-align: left;
    border-width: 1px;
    border-style: solid;
}

th {
    color: #386624;
    background: #dee9d5;
    padding: .4em 1em;
    border-color: #3c7333;
}

table.properties th {
    border-color: #DFF4D5 #A7DF8A #D3EFC3 #D3EFC3;
}

td {
    border-color: #b5b5b5;
    padding: .4em 1em;
    vertical-align: middle;
}

table.properties td {
    border-right-color: #595959;
}

th.lp {
    width: 2em;
    padding: .2em .5em;
}

td.lp {
    text-align: right;
    width: 24px;
    padding: .2em .5em;
}

th.dn, td.dn {
    width: 140px;
}

th.fn, td.fn {
    width: 16em;
}

th.gn, td.gn {
    width: auto;
}

.table-hover > tbody > tr:hover {
    background-color: #cecece;
}